<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>These are the awesome details about my page.</p>
        <br>
        <h2>Source of Data</h2>
        <p>The Data used was sourced from <a href="https://data.world/neil-sethi/s18-edv-project-4-dataset" target="_blank">Data World Repository</a></p>

        <br>
        <h2>Variable Definition</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </body>
</html>