<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>These are the awesome details about my page.</p>
        <br>
        <h2>Source of Data</h2>
        <p>The Data used was sourced from <a href="https://data.world/neil-sethi/s18-edv-project-4-dataset" target="_blank">Data World Repository</a></p>

        <br>
        <h2>Variable Definition</h2>
        <ul>
            <li>Provider_ID</li>
            <li>Hospital_name</li>
            <li>address</li>
            <li>city</li>
            <li>state</li>
            <li>zip_code</li>
            <li>country_name</li>
            <li>hospital_type</li>
            <li>emergency_services</li>
            <li>disease_name</li>
            <li>days</li>
            <li>predicted_cases</li>
            <li>observed_cases</li>
            <li>sir</li>
        </ul>
    </body>
</html>